div.content{
    width: 100%;
    height: 100%;
    margin: 0%;

    position: absolute;
    left: 4.5%;

    font-family: "Squarea";
    src: url("//db.onlinewebfonts.com/t/5bcf038c1c01738732063dffc34c1809.eot");
    src: url("//db.onlinewebfonts.com/t/5bcf038c1c01738732063dffc34c1809.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5bcf038c1c01738732063dffc34c1809.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/5bcf038c1c01738732063dffc34c1809.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/5bcf038c1c01738732063dffc34c1809.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/5bcf038c1c01738732063dffc34c1809.svg#Squarea") format("svg");

}
 
.name{

    width: 100%;
    height: auto;
    margin: 0%;
    font-size: 2.0vw;

    position: absolute;
    top: 15%;
    left: 0%;
}
.nameNa{
    width: 14%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 4%;
}
.nameFa{
    width: 10%;
    height: 20%;
    position: absolute;
    top: 10%;
    left: 20%;
}
.namecode{
    font-size: 2.0vmax;
    font-family: 'Libre Barcode 128', cursive;
    position: absolute;
    top: 0%;

    margin: 0%;
}
#codeNa{
    position: absolute;
    top: 0%;
    left: 20%;
}
#codeFa{
    position: absolute;
    top:0%;
    left: 15%;
}




.borndate{
    font-size: 1.1vmax;
    position: absolute;
    top: 12.5%;
    left: 30%;
}

.whatido{
    position: relative;
    top:1.5%;
    left: 5%;
    font-size: 1.1vmax;
}
.bio{
    position: relative;
    top: 3%;
    left: 5%;
    font-size: 1.1vmax;
}
.sub1{
    position: relative;
    top: 0%;
    font-size: 1.3vmax;
    color: #3a3a3a;
}
.sub2{
    position: relative;
    left: 2.5%;
}



div.side{
    width: 50%;
    height: 100%;

    position: absolute;
    left: 50%;

    opacity: 1;
    background-color: #858585;

    animation-name: sideFade-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

div.side:hover{
    animation-duration: 0.5s;
    animation-name: sideFade;
    animation-fill-mode: forwards;
}